@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "فروشگاه Rubik - فراموشی رمز عبور";
}

<section class="inner-page" id="contact-page">
    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center">
                            <img src="assets/images/login.png" alt="">
                        </div>
                        <form asp-controller="Account" asp-action="ForgetPassword" method="post" class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <div class="title">وارد شوید</div>
                            <div class="form-group">
                                <label asp-for="UserEmail">پست الکترونیک :</label>
                                <input type="email" class="form-control" asp-for="UserEmail">
                                <span asp-validation-for="UserEmail"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="ارسال ایمیل بازیابی" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>