@model RegisterViewModel
@{
    ViewData["Title"] = "فروشگاه Rubik - عضویت در سایت";
}
<section class="inner-page" id="contact-page">
    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center">
                            <img src="assets/images/login.png" alt="">
                        </div>
                        <form asp-controller="Account" asp-action="Register" method="post" class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <div class="title">عضویت در روبیک مارکت</div>
                            <p>با ورود به ناحیه کاربری خود از همه امکانات سایت بهره مند شوید.</p>
                            <div class="form-group">
                                <label asp-for="FullName">نام و نام خانوادگی :</label>
                                <input asp-for="FullName" type="text" class="form-control">
                                <span asp-validation-for="FullName"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserEmail">پست الکترونیک :</label>
                                <input asp-for="UserEmail" type="email" class="form-control">
                                <span asp-validation-for="UserEmail"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">رمز عبور :</label>
                                <input asp-for="Password" type="password" class="form-control">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RePassword">تکرار رمز عبور :</label>
                                <input asp-for="RePassword" type="password" class="form-control" >
                                <span asp-validation-for="RePassword"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="تکمیل عضویت" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>