@model ResetPasswordViewModel
@{
    ViewData["Title"] = "فروشگاه Rubik - بازیابی کلمه عبور ";
}

<section class="inner-page" id="contact-page">
    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center">
                            <img src="assets/images/reset-password.png" alt="">
                        </div>
                        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <div class="title">بازیابی کلمه عبور</div>
                            <div class="form-group">
                                <label asp-for="ConfirmCode">کد تایید ارسال شده به ایمیل :</label>
                                <input  class="form-control" asp-for="ConfirmCode">
                                <span asp-validation-for="ConfirmCode"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">رمز عبور :</label>
                                <input type="password" class="form-control" asp-for="Password">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RePassword">رمز عبور :</label>
                                <input type="password" class="form-control" asp-for="RePassword">
                                <span asp-validation-for="RePassword"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="بازیابی کلمه عبور" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>