@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model List<Rubik_Market.Domain.ViewModels.Blog.BlogGroups.BlogGroupViewModel>?
@{
    ViewData["Title"] = "لیست گروه های بلاگ";
    int count = 0;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <a asp-area="Admin" asp-controller="Blog" asp-action="AddBlogGroup" class="btn btn-success">ساخت گروه جدید</a>
                        </div>

                        @* <div class="card-tools"> *@
                        @*     <ul class="pagination pagination-sm m-0 float-right"> *@
                        @*         <li class="page-item"><a class="page-link" href="#">«</a></li> *@
                        @*         <li class="page-item"><a class="page-link" href="#">۱</a></li> *@
                        @*         <li class="page-item"><a class="page-link" href="#">۲</a></li> *@
                        @*         <li class="page-item"><a class="page-link" href="#">۳</a></li> *@
                        @*         <li class="page-item"><a class="page-link" href="#">»</a></li> *@
                        @*     </ul> *@
                        @* </div> *@
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        @if (!Model.IsNullOrEmpty())
                        {
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>نام گروه</th>
                                        <th>عملیات</th>
                                    </tr>
                                    @foreach (var item in Model!)
                                    {
                                        count++;
                                        <tr>
                                            <td><div class="status-box">@count</div></td>
                                            <td><div class="status-box">@item.GroupName</div></td>
                                            <td>
                                                <a class="btn btn-warning" asp-area="Admin" asp-controller="Blog" asp-action="EditBlogGroup" asp-route-id="@item.GroupId">ویرایش</a>
                                                @* <button class="btn btn-danger" onclick="deleteUser(`@item.FullName`,@item.ID)">حذف</button> *@
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p> کابری موجود نیست</p>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>