@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model List<Rubik_Market.Domain.ViewModels.Blog.BlogTags.BlogTagsViewModel>?
@{
    ViewData["Title"] = "لیست کلمات کلیدی بلاگ";
    int count = 0;
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <a asp-area="Admin" asp-controller="Blog" asp-action="AddBlogTag" class="btn btn-success">ساخت کلمه کلیدی جدید</a>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        @if (!Model.IsNullOrEmpty())
                        {
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>نام کلمه کلیدی</th>
                                        <th>عملیات</th>
                                    </tr>
                                    @foreach (var item in Model!)
                                    {
                                        count++;
                                        <tr>
                                            <td><div class="status-box">@count</div></td>
                                            <td><div class="status-box">@item.TagName</div></td>
                                            <td>
                                                <a class="btn btn-warning" asp-area="Admin" asp-controller="Blog" asp-action="EditBlogTag" asp-route-tagId="@item.TagId">ویرایش</a>
                                                @* <button class="btn btn-danger" onclick="deleteUser(`@item.FullName`,@item.ID)">حذف</button> *@
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p> کلمه کلیدی موجود نیست</p>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>