<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>فروشگاه روبیک مارکت</title>
<!-- CSS Styles -->
<link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="assets/plugins/aos-master/dist/aos.css">
<link rel="stylesheet" href="assets/plugins/hover-master/css/hover-min.css">
<link rel="stylesheet" href="assets/css/ionicons.css">
<link rel="stylesheet" href="assets/css/droopmenu.css">
<link rel="stylesheet" href="assets/css/highlight.css">
<link rel="stylesheet" href="assets/css/nouislider.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<!-- /CSS Styles -->