@model Rubik_Market.Domain.ViewModels.ContactUs.CreateContactUsViewModel

@{
    ViewData["Title"] = "تماس با ما";
}
<section class="inner-page" id="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content p-0 p-sm-3">
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center" id="contact-page-info">
                            <div class="info">
                                <svg class="svg-inline--fa fa-map-marked fa-w-18" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="map-marked" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M288 0c-69.59 0-126 56.41-126 126 0 56.26 82.35 158.8 113.9 196.02 6.39 7.54 17.82 7.54 24.2 0C331.65 284.8 414 182.26 414 126 414 56.41 357.59 0 288 0zM20.12 215.95A32.006 32.006 0 0 0 0 245.66v250.32c0 11.32 11.43 19.06 21.94 14.86L160 448V214.92c-8.84-15.98-16.07-31.54-21.25-46.42L20.12 215.95zM288 359.67c-14.07 0-27.38-6.18-36.51-16.96-19.66-23.2-40.57-49.62-59.49-76.72v182l192 64V266c-18.92 27.09-39.82 53.52-59.49 76.72-9.13 10.77-22.44 16.95-36.51 16.95zm266.06-198.51L416 224v288l139.88-55.95A31.996 31.996 0 0 0 576 426.34V176.02c0-11.32-11.43-19.06-21.94-14.86z"></path></svg><!-- <i class="fa fa-map-marked"></i> Font Awesome fontawesome.com -->
                                <div class="title">آدرس فروشگاه:</div>
                                <div>ایران، رشت</div>
                            </div>
                            <div class="info">
                                <svg class="svg-inline--fa fa-phone fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><!-- <i class="fa fa-phone"></i> Font Awesome fontawesome.com -->
                                <div class="title">تلفن تماس:</div>
                                <div>09381921185</div>
                            </div>
                            <div class="info">
                                <svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path></svg><!-- <i class="fa fa-envelope"></i> Font Awesome fontawesome.com -->
                                <div class="title">پست الکترونیک:</div>
                                <div>email@website.com</div>
                            </div>
                        </div>
                        <form class="col-12 col-lg-7 p-4" asp-controller="ContactUs" asp-action="ContactUs">
                            <div class="title">ارسال پیام</div>
                            <p>نظرات، پیشنهادات و انتقادات سازنده خود را از طریق فرم زیر با ما در میان بگذارید. ما در این فروشگاه اینترنتی همواره برای بهبود خدمات خود در تلاش هستیم.</p>
                            <div class="form-group">
                                <label asp-for="FullName">نام شما :</label>
                                <input type="text" class="form-control" asp-for="FullName">
                                <span asp-validation-for="FullName"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mobile">تلفن تماس :</label>
                                <input type="text" class="form-control" asp-for="Mobile">
                                <span asp-validation-for="Mobile"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">پست الکترونیک :</label>
                                <input type="text" class="form-control" asp-for="Email">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title">موضوع پیام :</label>
                                <input type="text" class="form-control" asp-for="Title">
                                <span asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">متن پیام :</label>
                                <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                                <span asp-validation-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="ارسال پیام" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>