@model Rubik_Market.Domain.ViewModels.ContactUs.ContactUsAnswerViewModel
@{
    ViewData["Title"] = "پاسخ درباره ما";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-area="Admin" asp-controller="ContactUs" asp-action="AnswerContactUs" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" asp-for="Id"/>
                            <div class="form-group">
                                <label asp-for="FullName">نام و نام خانواگی </label>
                                <input type="text" class="form-control" asp-for="FullName" disabled>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">ایمیل </label>
                                <input class="form-control" asp-for="Email" disabled>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mobile">موبایل </label>
                                <input class="form-control" asp-for="Mobile" disabled>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title">عنوان</label>
                                <input class="form-control" asp-for="Title" disabled>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">توضیح</label>
                                <input class="form-control" asp-for="Description" disabled>
                            </div>
                            <div class="form-group">
                                <label asp-for="Answer">پاسخ</label>
                                <textarea class="form-control" asp-for="Answer"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="ویرایش کاربر" class="btn btn-warning" />
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>