@model EditUserDetailViewModel

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                @await Component.InvokeAsync("UserProfileSideBar", new { id = @Model.UserId })
                <!-- /.card -->

            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link" id="navbartoggle" asp-area="Admin" asp-controller="User" asp-action="UserDetail" asp-route-id="@Model.UserId">پروفایل</a></li>
                            <li class="nav-item"><a class="nav-link active show" id="navbartoggle" asp-area="Admin" asp-controller="User" asp-action="UserDetailEdit" asp-route-id="@Model.UserId">ویرایش کردن پروفایل کاربر</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="settings">
                                <form asp-area="Admin" asp-controller="User" asp-action="UserDetailEdit" class="form-horizontal" method="post">
                                    <div class="form-group">
                                        <label asp-for="NationalCode" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="NationalCode">
                                            <span asp-validation-for="NationalCode"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CellPhoneNumber" class="col-sm-2 control-label"></label>

                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="CellPhoneNumber">
                                            <span asp-validation-for="CellPhoneNumber"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="HousePhoneNumber" class="col-sm-2 control-label"></label>

                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="HousePhoneNumber">
                                            <span asp-validation-for="HousePhoneNumber"></span>
                                        </div>
                                    </div> <div class="form-group">
                                        <label asp-for="CardNumberForRejectMoney" class="col-sm-2 control-label"></label>

                                        <div class="col-sm-10">
                                            <input class="form-control" asp-for="CardNumberForRejectMoney">
                                            <span asp-validation-for="CardNumberForRejectMoney"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <input type="submit" class="btn btn-info" value="ویرایش" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
