@using Rubik_Market.Application.Extenstions
<div class="accordion" id="side-panel">
    <div class="accordion-item menu-container">
        <h2 class="accordion-header">
            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <span class="row">
                    <span class="col-3 col-sm-2 col-lg-3">
                        <img src="../assets/images/user-no-image.jpg" class="rounded-circle">
                    </span>
                    <span class="col-7 col-sm-8 col-lg-7 pt-0 pt-sm-2 pt-md-3 pt-lg-0 align-self-center">
                        <div id="full-name">@User.GetUserFullName()</div>
                        <div class="mt-2" id="email-mobile">09351234567</div>
                    </span>
                </span>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <ul>
                    <li>
                        <a asp-area="UserPanel" asp-controller="UserProfile" asp-action="Profile" custom-data="ActiveLink" id="Profile">
                            <div>
                                <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/profile.webp" class="pl-2"></div> اطلاعات حساب
                            </div>
                        </a>
                    </li>
                    <li>
                        <a asp-area="UserPanel" asp-controller="UserProfile" asp-action="ChangePassword" custom-data="ActiveLink" id="ChangePassword">
                            <div>
                                <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/lock.webp" class="pl-2" style="hight:20px; width:21px"></div> تغییر کلمه عبور</div>
                        </a>
                    </li>
                    <li>
                        @if (ViewData["AddOrEdit"] == "Edit")
                        {
                            <a asp-area="UserPanel" asp-controller="UserProfile" asp-action="EditUserPersonalInfo" custom-data="ActiveLink" id="UserPersonalInfo" asp-route-userId="@User.GetUserId()">
                                <div>
                                    <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/profile.webp" class="pl-2"></div> ویرایش کردن اطلاعات شخصی کاربر
                                </div>
                            </a>
                        }
                        else
                        {
                            <a asp-area="UserPanel" asp-controller="UserProfile" asp-action="AddUserPersonalInfo" custom-data="ActiveLink" id="UserPersonalInfo">
                                <div>
                                    <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/profile.webp" class="pl-2"></div> اضافه کردن اطلاعات شخصی کاربر
                                </div>
                            </a>
                        }
                    </li>
                    <li>
                        <a href="addresses.html">
                            <div>
                                <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/addresses.webp" class="pl-2"></div> آدرس های من
                            </div>
                        </a>
                    </li>
                    <li><hr></li>
                    <li>
                        <a asp-controller="Account" asp-action="Logout">
                            <div>
                                <div class="icon d-inline-block"><img src="../assets/images/icons/profile-menu/exit.webp" class="pl-2"></div> خروج از حساب
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
