@using Rubik_Market.Application.Extenstions
<!doctype html>
<html lang="fa" dir="rtl">

<!-- Mirrored from rubik-market-html.wbrk.ir/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Aug 2023 06:30:53 GMT -->
<head>
    <partial name="Partials/LayoutSections/_ClientSideHeaderLinks"/>
    @await RenderSectionAsync("PageCss", false)
</head>
<body>
    <!-- Header -->
    <section id="header">
        <!-- Search NavBar -->
        <partial name="Partials/LayoutSections/_ClientSideTopNavbar" />
        <!-- /Search NavBar -->
        <!-- Main NavBar -->
        <partial name="Partials/LayoutSections/_ClientSideMainNavbar"/>
        <!-- Main NavBar -->
    </section>
    <!-- /Header -->
    @RenderBody()
    <partial name="Partials/LayoutSections/_ClientSideFooter" />
    <!-- Scripts -->
    <partial name="Partials/LayoutSections/_ClientSideFooterLink" />
    @await RenderSectionAsync("LoadFunction", false)
    <!-- /Scripts -->
</body>

<!-- Mirrored from rubik-market-html.wbrk.ir/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Aug 2023 06:31:42 GMT -->
</html>